* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo centrale */

.speaker_view, .zoom {
    padding: 10px 15px;
    background-color: #393939;
    border-radius: 10%;
}

.speaker_view, .zoom {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 60px;
}

.zoom {
    right: 10px;
}

.speaker_view a, .zoom a {
    text-decoration: none;
    color: white;
}

#container-flex {
    display: flex;
    height: calc(100vh - 70px);
    justify-content: space-around;
    align-items: center;
    background-color: #010101;
    position: relative;
}

#container-webcam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 70px);
    width: 90%;
    overflow: auto;
}

.webcam {
    position: relative;
    height: 140px;
    width: 330px;
    margin: 4px;
}

.webcam img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.webcam span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: black;
    opacity: 0.6;
    color: white;
}

/* left and right icon */

#left-icon, #right-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-icon span, #right-icon span {
    color: white;
    font-weight: 600;
}

.fa-caret-right {
    color: #2ebaff;
    font-size: 55px;
    margin-left: 4px;
}

.fa-caret-left {
    color: #7f7f7f;
    font-size: 55px;
    margin-right: 4px;
}

/* Footer */
#footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #212324;
}

#mic_web {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

#tools_zoom {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.fa-share-square:before {
    content: "\f14d";
    color: lime;
}

#end_meeting div {
    display: flex;
    background-color: #4a4b4c;
    padding: 25px 15px;
    color: tomato;
}

#end_meeting a {
    text-decoration: none;
}

#mic_web i, #tools_zoom i, #end_meeting i {
    color: white;
    font-size: 30px;
}

#mic_web div, #tools_zoom div {
    color: white;
    font-size: 15px;
    
}

.fa-angle-up:before {
    content: "\f106";
    font-size: 15px;
}