* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo centrale */
#container-flex {
    display: flex;
    height: calc(100vh - 80px);
    justify-content: space-around;
    align-items: center;

    /* debug */
    background-color: #010101;
}

#container-webcam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 80px);
    width: 90%;
}

.webcam {
    height: 140px;
    width: 330px;
    margin: 3px;
}

.webcam img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* left and right icon */

#left-icon, #right-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-icon span, #right-icon span {
    color: white;
    font-weight: 600;
}

.fa-caret-right {
    color: #2ebaff;
    font-size: 55px;
    margin-left: 4px;
}

.fa-caret-left {
    color: #7f7f7f;
    font-size: 55px;
    margin-right: 4px;
}

/* Footer */
#footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* debug */
    background-color: #212324;
}

#mic_web {
    display: flex;
    /* debug */
    background-color: green;
    height: 70px;
    width: 15%;
}

#tools_zoom {
    display: flex;
    /* debug */
    background-color: yellow;
    height: 70px;
    width: 60%;
}

#end_meeting {
    display: flex;
    /* debug */
    background-color: firebrick;
    height: 70px;
    width: 15%;
}

#mic_web div, #tools_zoom div, #end_meeting div {
    /* debug */
    background-color: hotpink;
    height: 70px;
    width: 50px;
    margin: 0 20px;
}